body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
  background: linear-gradient(296.92deg, rgba(255, 122, 0, 0.75) 30.05%, rgba(255, 0, 0, 0.58) 72.63%);
  color: whitesmoke;
}
