.coming-soon {
  background-color: #29333dd3;
  border-radius: 10px;
  box-shadow: 0 5px 20px #000000b9;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: whitesmoke;
  text-decoration: none;
  transition:
  transform 0.2s ease-in-out,
  box-shadow 0.2s ease-in-out;

  height: 15em;
  width: 80vw;

  @media screen and (min-width: 800px) {
    width: 85vw;
    height: 30em;    

    .projname-logo {
      width: 150px !important;
    }

    .proj-title {
      font-size: 35pt !important; 
    }

    .proj-desc {
      font-size: 15pt !important;
    }

    .proj-status {
      font-size: 30pt !important;
    }
  }

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 25px #000000b9;
  }

  .projname {
    display: flex;
    align-items: center;
    gap: 10px;

    .projname-logo {
      width: 110px;
    }

    .projabout {
      display: flex;
      flex-direction: column;
     
      .proj-title {
        font-weight: bold;
        font-size: 22pt;
      }

      .proj-desc {
        font-weight: 300;
        font-size: 13pt;
      }
    }
  }

  .proj-status {
    align-self: center;
    font-size: 23pt;
    font-weight: 200;
  }
}