.coming-soon {
  background-color: #29333dd8;
  border-radius: 10px;
  box-shadow: 0 5px 20px #000;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .projname {
    display: flex;
    align-items: center;
    gap: 10px;

    .projname-logo {
      width: 110px;
    }

    .projabout {
      display: flex;
      flex-direction: column;
     
      .proj-title {
        font-weight: bold;
        font-size: 22pt;
      }

      .proj-desc {
        font-weight: 300;
        font-size: 13pt;
      }
    }
  }

  .proj-status {
    align-self: center;
    font-size: 23pt;
    font-weight: 200;
  }
}